.app {
  height: 100%;
}

*{
  font-family: arial;
}


*::-webkit-scrollbar {
  width: 5px;
}
 
*::-webkit-scrollbar-track {
  background: rgb(83, 83, 83);
}
 
*::-webkit-scrollbar-thumb {
  background: #666; 
}